div.nav-bar {
    background-color: antiquewhite;
    padding: 30px;
    text-align:center;
}

.nav-bar {
    text-transform: uppercase;
}

div.content {
    background-color: beige;
    padding: 30px;
}

.content > h1 {
    text-align: center;
    background-color: rgb(255, 251, 246);
    padding:20px;
}

p + p {
    background-color: blanchedalmond;
    padding: 20px;
}




p:hover {
    color:aqua;
    font-weight: bold;
}

p::before {
    content:'hello';
    color:blueviolet;
    font-weight: bold;
}

p::after {
    content: 'bye';
    color:yellow;
    font-weight: bold;
}

p::selection {
    background-color: bisque;
    color:black;
}

* {
    padding: 0;
    margin: 0;
}

.nav {
    background-color: rgb(63, 27, 3);
    height: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.banner {
    background-color: rgb(208, 197, 192);
    height: 200px;
}

.content {
    background-color: rgb(193, 174, 144);
    height: 400px;
}

.footer {
    background-color: rgb(147, 124, 96);
    height: 20px;
    height: 100px;
}

img {
    width: 100%;
    filter: grayscale(70%) invert(50%);
}
